.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
}

.flex * {
  flex-grow: 1;
}

#xml {
  position: relative;
  margin-top: 16px;
  border-radius: 8px;
  padding: 8px 16px;
  border: 2px solid #cccccc;
}

#xml:focus {
  border-color: #0000ff;
  outline: none;
}

/* #xml .icon-btn {
  display: none;
}

#xml:hover .icon-btn {
  display: block;
} */

.icon-btn {
  position: absolute;
  top: 4px;
  right: 6px;
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
}